<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>AddMarks</title>
	<!-- Date: 2008-10-12 -->
</head>
<body>
      <p align="center">
      <br/><B>
      <font size="4">Jnana Prabodhini Prashala</font></p>
      <p align="center"/>
      <font size="2">510 Sadashiv Peth Pune 411030</font><p align="center"/>
      <font size="2">Email: prashala@jnanaprabodhini.org</font><p align="center"/>

      Certificate of School Based Evaluation<hr><p align="center"/>
      Part 1: Basic Information<p/></B>
	 Name:{{student_data.FirstName}} {{student_data.LastName}}<p/>
	 RegistrationNo:{{student_data.RegistrationNo}}<p/>
	 DateOfBirth:{{student_data.DateOfBirth}}<p/>
 	 MothersName:{{student_data.MothersName}}<p/>
 	 FathersName:{{student_data.FathersName}}<p/>
	 Address:{{student_data.Address}}<p/>
	 
	  <hr><p align="center"/>
	<u><b>Part 2: Academics</b></u><p/>
	<b>School attendance:</b><p/>
	<table border="1" cellspacing="5" cellpadding="0">
		<tr><th>Month</th> <th>Attendance</th><th>Working days</th></tr> 
		<form action="" method="POST">
			{% for row in attendance_data %}
			<tr>
				<td>{{ row.Month}}</td><td>{{ row.Attendance}}</td><td>{{ row.Working_days}}</td>
                <p/>
			</tr>
			{% endfor %}
		</form>
	</table><p/><p/>
      Principal Signature<p/>
 	<br/>
	<b>Academic Information</b><p/>
	<h2>{{ Mark_details }}</h2>
	<table border="1" cellspacing="5" cellpadding="0">
		<tr><th>Subject Name</th> <th>Test type</th>  <th>Marks</th> <th>Maximum Marks</th></tr> 
	
	
		<form action="" method="POST">
			{% for row in mark_data %}
			<tr>
				<td>{{ row.Subject_Name}}</td><td>{{ row.test_type}}</td><td>{{ row.MarksObtained}}</td>
				<td>{{ row.MaximumMarks}}</td><p/>
			</tr>
			{% endfor %}
		</form>
	</table>
    <p/>
	&nbsp;<p/>
	<b>Co Curricular:</b><p/>
	<table border="1" cellspacing="5" cellpadding="0">
		<tr><th>Activity</th> <th>Objectives</th> <th>Date</th> <th>Guide</th> <th>Grade</th><th>PublicComment</th></tr> 
		<form action="" method="POST">
			{% for row in co_curricular_data %}
			<tr>
				<td>{{ row.Activity}}</td>
				<td>{{ row.Objectives}}</td>
				<td>{{ row.Date}}</td>
				<td>{{ row.Guide}}</td>
				<td>{{ row.Grade}}</td>
				<td>{{ row.PublicComment}}</td>
			</tr>
			{% endfor %}
		</form>
	</table><hr>
			<p><b>Abhivyakti Vikas:</b></p>
    <p/>
	<table border="1" cellspacing="5" cellpadding="0">
		<tr><th>MediumOfExpression</th> <th>Teacher</th> <th>Participation</th> <th>ReadinessToLearn</th> <th>ContinuityInWork</th><th>SkillDevelopment</th><th>Creativity</th></tr> 
		<form action="" method="POST">
			{% for row in abhivyakti_vikas_data %}
			<tr>
				<td>{{row.MediumOfExpression}}</td>
				<td>{{row.Teacher}}</td>
				<td>{{row.Participation}}</td>
				<td>{{row.ReadinessToLearn}}</td>
				<td>{{row.ContinuityInWork}}</td>
				<td>{{row.SkillDevelopment}}</td>
				<td>{{row.Creativity}}</td>
			</tr>
			{% endfor %}
		</form>
	</table>
&nbsp;<p><b>Projects:</b></p>
    <p/>
<table border="1" cellspacing="5" cellpadding="0">
		<tr><th>Title</th> <th>Type</th> <th>Subject</th> <th>ProblemSelection</th> <th>Review</th><th>Planning</th><th>Documentation</th><th>Communication</th></tr> 
		<form action="" method="POST">
			{% for row in project_data %}
			<tr>
				<td>{{row.Title}}</td>
				<td>{{row.Type}}</td>
				<td>{{row.Subject}}</td>
				<td>{{row.ProblemSelection}}</td>
				<td>{{row.Review}}</td>
				<td>{{row.Planning}}</td>
				<td>{{row.Documentation}}</td>
				<td>{{row.Communication}}</td>
			</tr>
			{% endfor %}
		</form>
	</table>
    <p>&nbsp;</p>
    <p>
		<b>Elocution:</b></p>
    <p/>
	<table border="1" cellspacing="5" cellpadding="0">
		<tr><th>Title</th> <th>Memory</th> <th>Content</th> <th>Understanding</th> <th>Skill</th><th>Presentation</th></tr> 
		<form action="" method="POST">
			{% for row in project_data %}
			<tr>
				<td>{{row.Title}}</td>
				<td>{{row.Memory}}</td>
				<td>{{row.Content}}</td>
				<td>{{row.Understanding}}</td>
				<td>{{row.Skill}}</td>
				<td>{{row.Presentation}}</td>
			</tr>
			{% endfor %}
		</form>
	</table>    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr>
			<p>
			<b>Physical fitness info:</b></p>
    <p/>
	<table border="1" cellspacing="5" cellpadding="0">
		<tr><th>Pathak</th> <th>Pratod</th> <th>Margadarshak</th> <th>SpecialSport</th> <th>Weight</th><th>Height</th>
		<th>FFB</th> <th>FBB</th> <th>SBJ</th> <th>VerticleJump</th> <th>BallThrow</th><th>ShuttleRun</th>
		<th>SitUps</th> <th>Sprint</th> <th>Running400m</th> <th>ShortPutThrow</th><th>BodyMassIndex</th> <th>Balancing</th>
		 <th>Grade</th><th>PublicComment</th></tr> 
		<form action="" method="POST">
			{% for row in physical_fit_info_data %}
			<tr>
				<td>{{row.Pathak}}</td>
				<td>{{row.Pratod}}</td>
				<td>{{row.Margadarshak}}</td>
				<td>{{row.SpecialSport}}</td>
				<td>{{row.Weight}}</td>
				<td>{{row.Height}}</td>
				<td>{{row.FlexibleForwardBending}}</td>
				<td>{{row.FlexibleBackwardBending}}</td>
				<td>{{row.SBJ}}</td>
				<td>{{row.VerticleJump}}</td>
				<td>{{row.BallThrow}}</td>
				<td>{{row.ShuttleRun}}</td>
				<td>{{row.SitUps}}</td>
				<td>{{row.Sprint}}</td>
				<td>{{row.Running400m}}</td>
				<td>{{row.ShortPutThrow}}</td>
				<td>{{row.BodyMassIndex}}</td>
				<td>{{row.Balancing}}</td>
				<td>{{row.Grade}}</td>
				<td>{{row.PublicComment}}</td>
			</tr>
			{% endfor %}
		</form>
	</table>
		&nbsp;<p>
		<b>SocialActivity:</b></p>
    <p/>
	<table border="1" cellspacing="5" cellpadding="0">
		<tr><th>Activity</th> <th>Objectives</th> <th>Date</th> <th>Organizer</th> <th>Grade</th><th>PublicComment</th></tr> 
		<form action="" method="POST">
			{% for row in social_activity_data %}
			<tr>
				<td>{{ row.Activity}}</td>
				<td>{{ row.Objectives}}</td>
				<td>{{ row.Date}}</td>
				<td>{{ row.Organizer}}</td>
				<td>{{ row.Grade}}</td>
				<td>{{ row.PublicComment}}</td>
			</tr>
			{% endfor %}
		</form>
	</table>
</body>
</html>