<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>DisplayReport</title>
</head>
<body>
    <h1>Basic Information</h1>
    <table border='1'>
        <tr>
            <td>Registration Info</td>
            <td>{{basic_info.RegistrationNo}}</td>
        </tr>
        <tr>
            <td>Registration Date</td>
            <td>{{basic_info.DateOfRegistration}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{basic_info.FirstName}} {{basic_info.LastName}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{basic_info.Gender}}</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>{{basic_info.DateOfBirth}}</td>
        </tr>
        <tr>
            <td>Fathers Name</td>
            <td>{{basic_info.FathersName}}</td>
        </tr>
        <tr>
            <td>Mothers Name</td>
            <td>{{basic_info.MothersName}}</td>
        </tr>
        <tr>
            <td>Termination Date</td>
            <td>{{basic_info.TerminationDate}}</td>
        </tr>
        <tr>
            <td>Caste</td>
            <td>{{basic_info.Caste}}</td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td>{{basic_info.Nationality}}</td>
        </tr>
        <tr>
            <td>Birth Place</td>
            <td>{{basic_info.BirthPlace}}</td>
        </tr>
        <tr>
            <td>Reason of leaving school</td>
            <td>{{basic_info.ReasonOfLeavingSchool}}</td>
        </tr>
        <tr>
            <td>PreviousSchool</td>
            <td>{{basic_info.PreviousSchool}}</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>{{basic_info.Category}}</td>
        </tr>
    </table>
    <h1>Additional Information</h1>
    <table border=1>
        
        <tr>
            <td>Strength</td>
            <td>{{additional_info.Strength}}</td>
        </tr>
        <tr>
            <td>Weakness</td>
            <td>{{additional_info.Weakness}}</td>
        </tr>
        <tr>
            <td>Sankalp</td>
            <td>{{additional_info.Sankalp}}</td>
        </tr>
        <tr>
            <td>Sankalp Comment</td>
            <td>{{additional_info.Sankalp_Comment}}</td>
        </tr>
        <tr>
            <td>Hobbies</td>
            <td>{{additional_info.Hobbies}}</td>
        </tr>
        <tr>
            <td>Family Background</td>
            <td>{{additional_info.Family_Background}}</td>
        </tr>
        <tr>
            <td>Fathers Education</td>
            <td>{{additional_info.Fathers_Education}}</td>
        </tr>
        <tr>
            <td>Fathers Occupation</td>
            <td>{{additional_info.Fathers_Occupation}}</td>
        </tr>
        <tr>
            <td>Fathers Phone</td>
            <td>{{additional_info.Fathers_Phone_No}}</td>
        </tr>
        <tr>
            <td>Fathers Email</td>
            <td>{{additional_info.Fathers_Email}}</td>
        </tr>
        <tr>
            <td>Mothers Education</td>
            <td>{{additional_info.Mothers_Education}}</td>
        </tr>
        <tr>
            <td>Mothers Occupation</td>
            <td>{{additional_info.Mothers_Occupation}}</td>
        </tr>
        <tr>
            <td>Mother Phone</td>
            <td>{{additional_info.Mothers_Phone_No}}</td>
        </tr>
        <tr>
            <td>Mother's Email</td>
            <td>{{additional_info.Mothers_Email}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td><p>{{additional_info.Address}}</p></td>
        </tr>
    </table>
    <h1>Yearly Information</h1>
    <table border=1>
        <tr>
            <td>Roll Number</td>
            <td>{{yearly_info.RollNo}}</td>
        </tr>
        <tr>
            <td>Standard</td>
            <td>{{yearly_info.Standard}}</td>
        </tr>
        <tr>
            <td>Class Teacher</td>
            <td>{{yearly_info.ClassMaster.Teacher}}</td>
        </tr>
        <tr>
            <td>Division</td>
            <td>{{yearly_info.ClassMaster.Division}}</td>
        </tr>
    </table>
    <h1>Attendance Record</h1>
    <table border=1>
        <tr>
            <th>Month</th>
            <th>Working Days</th>
            <th>Actual Attendance</th>
        </tr>
        {% for x in attendance%}
        <tr>
            <td>{{x.AttendanceMaster.Month}}</td>
            <td>{{x.AttendanceMaster.WorkingDays}}</td>
            <td>{{x.ActualAttendance}}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Physical Fitness Info</h1>
    {% for x in physical_fitness %}
    <table border=1>
        <tr>
            <td>Weight</td>
            <td>{{x.Weight}}</td>
        </tr>
        <tr>
            <td>Height</td>
            <td>{{x.Height}}</td>
        </tr>
        <tr>
            <td>FlexibleForwardBending</td>
            <td>{{x.FlexibleForwardBending}}</td>
        </tr>
        <tr>
            <td>FlexibleBackwardBending</td>
            <td>{{x.FlexibleBackwardBending}}</td>
        </tr>
        <tr>
            <td>SBJ</td>
            <td>{{x.SBJ}}</td}>
        </tr>
        <tr>
            <td>VerticleJump</td>
            <td>{{x.VerticleJump}}</td}>
        </tr>
        <tr>
            <td>BallThrow</td>
            <td>{{x.BallThrow}}</td>
        </tr>
        <tr>
            <td>ShuttleRun</td>
            <td>{{x.ShuttleRun}}</td}>
        </tr>
        <tr>
            <td>SitUps</td>
            <td>{{x.SitUps}}</td>
        </tr>
        <tr>
            <td>Sprint</td>
            <td>{{x.Sprint}}</td>
        </tr>
        <tr>
            <td>Running400m</td>
            <td>{{x.Running400m}}</td>
        </tr>
        <tr>
            <td>ShortPutThrow</td>
            <td>{{x.ShortPutThrow}}</td>
        </tr>
        <tr>
            <td>Split</td>
            <td>{{x.Split}}</td>
        </tr>
        <tr>
            <td>BodyMassIndex</td>
            <td>{{x.BodyMassIndex}}</td>
        </tr>
        <tr>
            <td>Balancing</td>
            <td>{{x.Balancing}}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{x.PublicComment}}</td>
        </tr>
        <tr>
            <td>Pathak</td>
            <td>{{x.Pathak}}</td>
        </tr>
        <tr>
            <td>Pratod</td>
            <td>{{x.Pratod}}</td>
        </tr>
        <tr>
            <td>Margadarshak</td>
            <td>{{x.Margadarshak}}</td>
        </tr>
        <tr>
            <td>SpecialSport</td>
            <td>{{x.SpecialSport}}</td>
        </tr>
        <tr>
            <td>Grade</td>
            <td>{{x.Grade}}</td>
        </tr>        
    </table>
    {% endfor %}
    <h1>Test Marks</h1>
    <table border=1>
        {% for x in test_marks %}
        <tr>
            <td><strong>{{ x.TestMapping.SubjectMaster.Name }}</strong></td>
            <td>{{ x.TestMapping.TestType }}</td>
            <td>{{ x.MarksObtained }}</td>
            <td>{{ x.TestMapping.MaximumMarks }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Social Ativity</h1>
    {% for x in socialactivity %}
    <table border=1>
        <tr>
            <td>Activity</td>
            <td>{{ x.Activity }}</td>
        </tr>
        <tr>
            <td>Objectives</td>
            <td>{{ x.Objectives }}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ x.Date }}</td>
        </tr>
        <tr>
            <td>Organizer</td>
            <td>{{ x.Organizer }}</td>
        </tr>
        <tr>
            <td>Grade</td>
            <td>{{ x.Grade }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>Cocurricular</h1>
    {% for x in cocurricular %}
    <table border=1>
        <tr>
            <td>Activity</td>
            <td>{{ x.Activity }}</td>
        </tr>
        <tr>
            <td>Objectives</td>
            <td>{{ x.Objectives }}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ x.Date}}</td>
        </tr>
        <tr>
            <td>Guide</td>
            <td>{{ x.Guide }}</td>
        </tr>
        <tr>
            <td>Grade</td>
            <td>{{ x.Grade }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>Competitive Exam</h1>
    {% for x in competitiveexam %}
    <table border=1>
        <tr>
            <td>Name</td>
            <td>{{ x.Name }}</td>
        </tr>
        <tr>
            <td>Subject</td>
            <td>{{ x.Subject }}</td>
        </tr>
        <tr>
            <td>Level</td>
            <td>{{ x.Level}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ x.Date }}</td>
        </tr>
        <tr>
            <td>Grade</td>
            <td>{{ x.Grade }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>Competition</h1>
    {% for x in competition %}
    <table border=1>
        <tr>
            <td>Organizer</td>
            <td>{{ x.Organizer }}</td>
        </tr>
        <tr>
            <td>Subject</td>
            <td>{{ x.Subject }}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ x.Date }}</td>
        </tr>
        <tr>
            <td>Achievement</td>
            <td>{{ x.Achievement}}</td>
        </tr>
        <tr>
            <td>Guide</td>
            <td>{{ x.Guide }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>AbhivyaktiVikas</h1>
    {% for x in abhivyaktivikas %}
    <table border=1>
        <tr>
            <td>MediumOfExpression</td>
            <td>{{ x.MediumOfExpression }}</td>
        </tr>
        <tr>
            <td>Teacher</td>
            <td>{{ x.Teacher }}</td>
        </tr>
        <tr>
            <td>Participation</td>
            <td>{{ x.Participation }}</td>
        </tr>
        <tr>
            <td>ReadinessToLearn</td>
            <td>{{ x.ReadinessToLearn}}</td>
        </tr>
        <tr>
            <td>ContinuityInWork</td>
            <td>{{ x.ContinuityInWork }}</td>
        </tr>
        <tr>
            <td>SkillDevelopment</td>
            <td>{{ x.SkillDevelopment }}</td>
        </tr>
        <tr>
            <td>Creativity</td>
            <td>{{ x.Creativity }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>Project</h1>
    {% for x in project %}
    <table border=1>
        <tr>
            <td>Title</td>
            <td>{{ x.Title }}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{ x.Type }}</td>
        </tr>
        <tr>
            <td>Subject</td>
            <td>{{ x.Subject }}</td>
        </tr>
        <tr>
            <td>ProblemSelection</td>
            <td>{{ x.ProblemSelection}}</td>
        </tr>
        <tr>
            <td>Review</td>
            <td>{{ x.Review }}</td>
        </tr>
        <tr>
            <td>Review</td>
            <td>{{ x.Review }}</td>
        </tr>
        <tr>
            <td>Planning</td>
            <td>{{ x.Planning }}</td>
        </tr>
        <tr>
            <td>ExecutionAndHardWork</td>
            <td>{{ x.ExecutionAndHardWork }}</td>
        </tr>
        <tr>
            <td>Documentation</td>
            <td>{{ x.Documentation }}</td>
        </tr>
        <tr>
            <td>Communication</td>
            <td>{{ x.Communication }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>Elocution</h1>
    {% for x in elocution %}
    <table border=1>
        <tr>
            <td>Title</td>
            <td>{{ x.Title }}</td>
        </tr>
        <tr>
            <td>Memory</td>
            <td>{{ x.Memory }}</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>{{ x.Content }}</td>
        </tr>
        <tr>
            <td>Understanding</td>
            <td>{{ x.Understanding}}</td>
        </tr>
        <tr>
            <td>Pronunciation</td>
            <td>{{ x.Pronunciation }}</td>
        </tr>
        <tr>
            <td>Presentation</td>
            <td>{{ x.Presentation }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>Library</h1>
    {% for x in library %}
    <table border=1>
        <tr>
            <td>BooksRead</td>
            <td>{{ x.BooksRead }}</td>
        </tr>
        <tr>
            <td>Grade</td>
            <td>{{ x.Grade }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>Work Experience</h1>
    {% for x in workexperience %}
    <table border=1>
        <tr>
            <td>Teacher</td>
            <td>{{ x.Teacher }}</td>
        </tr>
        <tr>
            <td>Task</td>
            <td>{{ x.Task }}</td>
        </tr>
        <tr>
            <td>Communication</td>
            <td>{{ x.Communication }}</td>
        </tr>
        <tr>
            <td>Confidence</td>
            <td>{{ x.Confidence }}</td>
        </tr>
        <tr>
            <td>Involvement</td>
            <td>{{ x.Involvement }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>Physical Education</h1>
    {% for x in physicaleducation %}
    <table border=1>
        <tr>
            <td>Name</td>
            <td>{{ x.Name }}</td>
        </tr>
        <tr>
            <td>Pratod</td>
            <td>{{ x.Pratod }}</td>
        </tr>
        <tr>
            <td>AbilityToWorkInTeam</td>
            <td>{{ x.AbilityToWorkInTeam }}</td>
        </tr>
        <tr>
            <td>Cooperation</td>
            <td>{{ x.Cooperation }}</td>
        </tr>
        <tr>
            <td>LeadershipSkill</td>
            <td>{{ x.LeadershipSkill }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>Thinking Skill</h1>
    {% for x in thinkingskill %}
    <table border=1>
        <tr>
            <td>Teacher</td>
            <td>{{ x.Teacher }}</td>
        </tr>
        <tr>
            <td>Inquiry</td>
            <td>{{ x.Inquiry }}</td>
        </tr>
        <tr>
            <td>LogicalThinking</td>
            <td>{{ x.LogicalThinking }}</td>
        </tr>
        <tr>
            <td>Creativity</td>
            <td>{{ x.Creativity }}</td>
        </tr>
        <tr>
            <td>DecisionMakingAndProblemSolving</td>
            <td>{{ x.DecisionMakingAndProblemSolving }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>Social Skill</h1>
    {% for x in socialskill %}
    <table border=1>
        <tr>
            <td>Teacher</td>
            <td>{{ x.Teacher }}</td>
        </tr>
        <tr>
            <td>Communication</td>
            <td>{{ x.Communication }}</td>
        </tr>
        <tr>
            <td>InterPersonal</td>
            <td>{{ x.InterPersonal }}</td>
        </tr>
        <tr>
            <td>TeamWork</td>
            <td>{{ x.TeamWork }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>Emotional Skill</h1>
    {% for x in emotionalskill %}
    <table border=1>
        <tr>
            <td>Teacher</td>
            <td>{{ x.Teacher }}</td>
        </tr>
        <tr>
            <td>Empathy</td>
            <td>{{ x.Empathy }}</td>
        </tr>
        <tr>
            <td>Expression</td>
            <td>{{ x.Expression }}</td>
        </tr>
        <tr>
            <td>Management</td>
            <td>{{ x.Management }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}</body>
    <h1>Attitude Towards School</h1>
    {% for x in attitudetowardsschool %}
    <table border=1>
        <tr>
            <td>Teacher</td>
            <td>{{ x.Teacher }}</td>
        </tr>
        <tr>
            <td>SchoolTeachers</td>
            <td>{{ x.SchoolTeachers }}</td>
        </tr>
        <tr>
            <td>SchoolMates</td>
            <td>{{ x.SchoolMates }}</td>
        </tr>
        <tr>
            <td>SchoolPrograms</td>
            <td>{{ x.SchoolPrograms }}</td>
        </tr>
        <tr>
            <td>SchoolEnvironment</td>
            <td>{{ x.SchoolEnvironment }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
    <h1>Values</h1>
    {% for x in values %}
    <table border=1>
        <tr>
            <td>Teacher</td>
            <td>{{ x.Teacher }}</td>
        </tr>
        <tr>
            <td>Obedience</td>
            <td>{{ x.Obedience }}</td>
        </tr>
        <tr>
            <td>Honesty</td>
            <td>{{ x.Honesty }}</td>
        </tr>
        <tr>
            <td>Equality</td>
            <td>{{ x.Equality }}</td>
        </tr>
        <tr>
            <td>Responsibility</td>
            <td>{{ x.Responsibility }}</td>
        </tr>
        <tr>
            <td>PublicComment</td>
            <td>{{ x.PublicComment }}</td>
        </tr>
    </table>
    {% endfor %}
</body>
</html>
<tr>
    <td></td>
    <td></td>
</tr>
