<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>DisplayReport</title>
</head>
<body>
    <h1>Basic Information</h1>
    <table border='1'>
        <tr>
            <td>Registration Info</td>
            <td>{{basic_info.RegistrationNo}}</td>
        </tr>
        <tr>
            <td>Registration Date</td>
            <td>{{basic_info.DateOfRegistration}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{basic_info.FirstName}} {{basic_info.LastName}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{basic_info.Gender}}</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>{{basic_info.DateOfBirth}}</td>
        </tr>
        <tr>
            <td>Fathers Name</td>
            <td>{{basic_info.FathersName}}</td>
        </tr>
        <tr>
            <td>Mothers Name</td>
            <td>{{basic_info.MothersName}}</td>
        </tr>
        <tr>
            <td>Termination Date</td>
            <td>{{basic_info.TerminationDate}}</td>
        </tr>
        <tr>
            <td>Caste</td>
            <td>{{basic_info.Caste}}</td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td>{{basic_info.Nationality}}</td>
        </tr>
        <tr>
            <td>Birth Place</td>
            <td>{{basic_info.BirthPlace}}</td>
        </tr>
        <tr>
            <td>Reason of leaving school</td>
            <td>{{basic_info.ReasonOfLeavingSchool}}</td>
        </tr>
        <tr>
            <td>PreviousSchool</td>
            <td>{{basic_info.PreviousSchool}}</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>{{basic_info.Category}}</td>
        </tr>
    </table>
    <h1>Additional Information</h1>
    <table border=1>
        
        <tr>
            <td>Strength</td>
            <td>{{additional_info.Strength}}</td>
        </tr>
        <tr>
            <td>Weakness</td>
            <td>{{additional_info.Weakness}}</td>
        </tr>
        <tr>
            <td>Sankalp</td>
            <td>{{additional_info.Sankalp}}</td>
        </tr>
        <tr>
            <td>Sankalp Comment</td>
            <td>{{additional_info.Sankalp_Comment}}</td>
        </tr>
        <tr>
            <td>Hobbies</td>
            <td>{{additional_info.Hobbies}}</td>
        </tr>
        <tr>
            <td>Family Background</td>
            <td>{{additional_info.Family_Background}}</td>
        </tr>
        <tr>
            <td>Fathers Education</td>
            <td>{{additional_info.Fathers_Education}}</td>
        </tr>
        <tr>
            <td>Fathers Occupation</td>
            <td>{{additional_info.Fathers_Occupation}}</td>
        </tr>
        <tr>
            <td>Fathers Phone</td>
            <td>{{additional_info.Fathers_Phone_No}}</td>
        </tr>
        <tr>
            <td>Fathers Email</td>
            <td>{{additional_info.Fathers_Email}}</td>
        </tr>
        <tr>
            <td>Mothers Education</td>
            <td>{{additional_info.Mothers_Education}}</td>
        </tr>
        <tr>
            <td>Mothers Occupation</td>
            <td>{{additional_info.Mothers_Occupation}}</td>
        </tr>
        <tr>
            <td>Mother Phone</td>
            <td>{{additional_info.Mothers_Phone_No}}</td>
        </tr>
        <tr>
            <td>Mother's Email</td>
            <td>{{additional_info.Mothers_Email}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td><p>{{additional_info.Address}}</p></td>
        </tr>
    </table>
    <h1>Yearly Information</h1>
    <table border=1>
        <tr>
            <td>Roll Number</td>
            <td>{{yearly_info.RollNo}}</td>
        </tr>
        <tr>
            <td>Class Teacher</td>
            <td>{{yearly_info.ClassMaster.Teacher}}</td>
        </tr>
        <tr>
            <td>Division</td>
            <td>{{yearly_info.ClassMaster.Division}}</td>
        </tr>
    </table>

</body>
</html>
<tr>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td></td>
</tr>
