{% extends "base.html" %}
{% load i18n %}

{% block content %}
<hr />
<h1>Student</h1>
<a href="/scrap_add">Add/Remove/Modify Scraps</a> <br />
<a href="/competition_add">Add/Remove/Modify Competition</a> <br />
<a href="/elocution_add">Add/Remove/Modify Elocution</a> <br />
<a href="/project_add">Add/Remove Project</a><br />
<a href="/abhivyaktivikas_add">Add/Remove/Modify Abhivyakti Vikas</a> <br />
<a href="/competitiveexam_add/">Add/Remove/Modify Competitive Exam</a> <br />
<a href="/cocurricular_add">Add/Remove/Modify Co-curricular</a> <br />
<a href="/socialactivity_add">Add/Remove/Modify Social Activity</a> <br />
<a href="/physicalfitnessinfo_add">Add/Remove/Modify Physical Fitness Info</a> <br />
<a href="/workexperience_add">Add/Remove/Modify Work Experience</a> <br />
<a href="/physicaleducation_add">Add/Remove/Modify Physical Education</a> <br />
<a href="/thinkingskill_add">Add/Remove/Modify Thinking Skill</a> <br />
<a href="/socialskill_add">Add/Remove/Modify Social Skill</a> <br />
<a href="/emotionalskill_add">Add/Remove/Modify Emotional Skill</a> <br />
<a href="/attitudetowardsschool_add">Add/Remove/Modify Attitude Towards School</a> <br />
<a href="/values_add">Add/Remove/Modify Values</a> <br />
<a href="/medicalreport_add">Add/Remove/Modify Medical Report</a> <br />
<a href="/attendance_add">Add/Remove/Modify Attendance</a> <br />
<a href="/reportPDF">Generate PDF report</a> <br />
<a href='/certificatePDF'>Bonafide</a> <br />
<a href='/cardsPDF'>Address cards</a> <br />
<a href='/names_sheet'>Generate Names and Columns PDF</a> <br />
<a href='/marks_add'>Add Marks</a> <br />
<hr />
<h1>Attendance</h1>
<a href='/ams'>Attendance</a> <br />
<a href='/ams_report'>Monthly Report</a> <br />
<a href='/ams_daily_report'>Daily Report</a> <br />
<a href='/leave'>Leave</a> <br />
<hr />
<h1>Fees</h1>
<a href='/fee'>New Fee Receipt</a> <br />
<a href='/fee_collection'>Fee Collection</a> <br />
<hr />
<h1>Pravesh</h1>
<a href='/pravesh'>Pavesh main page</a> <br />
{% endblock %}
