{% extends "base.html" %}
{% load i18n %}

{% block content %}
<a href="/competition_add">Add/Remove/Modify Competition</a> <br />
<a href="/elocution_add">Add/Remove/Modify Elocution</a> <br />
<a href="/project_add">Add/Remove Project</a><br />
<a href="/abhivyaktivikas_add">Add/Remove/Modify Abhivyakti Vikas</a> <br />
<a href="/competitiveexam_add/">Add/Remove/Modify Competitive Exam</a> <br />
<a href="/cocurricular_add">Add/Remove/Modify Co-curricular</a> <br />
<a href="/socialactivity_add">Add/Remove/Modify Social Activity</a> <br />
<a href="/physicalfitnessinfo_add">Add/Remove/Modify Physical Fitness Info</a> <br />
<a href="/workexperience_add">Add/Remove/Modify Work Experience</a> <br />
<a href="/physicaleducation_add">Add/Remove/Modify Physical Education</a> <br />
<a href="/thinkingskill_add">Add/Remove/Modify Thinking Skill</a> <br />
<a href="/socialskill_add">Add/Remove/Modify Social Skill</a> <br />
<a href="/emotionalskill_add">Add/Remove/Modify Emotional Skill</a> <br />
<a href="/attitudetowardsschool_add">Add/Remove/Modify Attitude Towards School</a> <br />
<a href="/values_add">Add/Remove/Modify Values</a> <br />
<a href="/attendance_add">Add/Remove/Modify Attendance</a> <br />
{% endblock %}
