{% extends "base.html" %}
{% load i18n %}

{% block content %}
<a href="/competition_add">Add/Remove/Modify Competition</a> <br />
<a href="/elocution_add">Add/Remove/Modify Elocution</a> <br />
<a href="/project_add">Add/Remove Project</a><br />
<a href="/abhivyaktivikas_add">Add/Remove/Modify Abhivyakti Vikas</a> <br />
<a href="/competitiveexam_add/">Add/Remove/Modify Competitive Exam</a> <br />
<a href="/cocurricular_add">Add/Remove/Modify Co-curricular</a> <br />
<a href="/socialactivity_add">Add/Remove/Modify Social Activity</a> <br />
<a href="/physicalfitness_add">Add/Remove/Modify Physical Fitness Info</a> <br />
{% endblock %}
